body {
    min-width: 300px;
    max-width: 500px;
}
h2 {
    padding: 0px;
    margin: 0px;
    color: #FFFFFF;
    margin-left: 15px;
}
h4 {
    padding: 0px;
    margin-left: 15px;
    color: #4d4d4d;
}
.titletext {
    color: #FFFFFF;
}
img {
    padding-top: 0.3em;
    padding-right: 0.3em;
}
.btn {
    background-color: #337ab7;
    color: #F5F7FA;
}
#textbox {
    width: 55%;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    border: 1px solid #CCC;
}
#submitbutton {
    margin-right: 15px;
    width: 90px;
}
#about {
    float: right;
    color: #FFFFFF;
    padding-right: 1em;
}
ul {
    clear: both;
    margin-left: 15px;
}
li {
    background-color: #967ADC;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
    position: relative;
    left: -44px;
}
.titles {
    background-color: #337ab7;
    padding-top: 1em;
    border-bottom: 2px;
    border-bottom-color: darkgray;
    border-bottom-style: solid;
    margin-bottom: 15px;
}
