<!DOCTYPE html>
<html ng-app="app" ng-csp="">
<!--Head-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="Resources/js/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="application.js"></script>
    <link href="css/main.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <!--Body-->

    <body ng-controller="MainController">
        <div>
            <div class="header">
                <h3 id="title" class="titletext"></span>Image-less                <a id="about" href="#">About</a></h3>
            </div>
            <div class="content">
                <h5 class="titletext">Customize your
                    filters! <span id="warningmsg"></span></h5>
                <!-- form to add filters to the filter array -->
                <form name="Filters" ng-submit="addFilter(name)" class="text">
                    <input id="textbox" class="inputs form-control" placeholder="New filter" autocomplete="off" ng-model="name" />
                    <input id="submitbutton" type="submit" class="button btn btn-primary" value="Add Filter">
                </form>
                <div>
                    <ul>
                        <!--Repeat for all filters in the filter array-->
                        <li ng-repeat="filter in filters  track by $index" class="label"> <img src="Resources/Images/icon_delete.png" ng-click="removeFilter($index)">{{ filter.name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </body>

</html>
